#form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }

.bg-teal {
    background-color: #b3c2b3;
}

.btn-teal {
    background-color: #596b68;
    color:#f2f2f2;
}

p {
    border-radius: 8px;
    border-color: #f2f2f2;
    padding: 15px;
    border-style: double;
  }

  .flex-wrapper {
    display: flex;
    flex-direction: column;
  }